<!DOCTYPE html>
<html>
<head>
  <link type='text/css' rel='stylesheet' href='stylesheets/stylesheet.css'>
  <script src='http://code.jquery.com/jquery-git2.js'></script>
  <script src='lib/annyang.js'></script>
  <script src='lib/responsivevoice.js'></script>
  <script src='scripts/speechToText.js'></script>
</head>
<body>
  <button id='startSession'>Start</button>

  <div id='textToSpeech'>
    <textarea id='text' cols='20' rows='2'></textarea>
    <input onclick="responsiveVoice.speak($('#text').val(),$('#voiceselection').val());" type='button' value='Play'
    />
  </div>
</body>
</html>

