.btn-orange {
  background-color: #e16120;
  color: white;
}

.btn-teal {
  background-color: #3c9892;
  color: white;
}

#grab-btn {
  width: 100%;
  margin: 20px 0 40px 0;
  color: white;
}

.btn-orange:hover {
  color: white;
  opacity: .8;
}

.btn-orange:visited {
  color: white;
}

#save-btn {
  /*margin: 0 auto;*/
  width: 100%;
  margin-left: 38%;
}

#start-btn {
  width: 100%;
  margin: 30px 0;
}

.buttons {
  position: absolute;
}

.logout-btn {
  margin:  20px 10px;
  /*float:right;*/
}

.login-btn {
  margin-top: 5px;
  width: 100%;
}