.btn-orange {
  background-color: #e16120;
  color: white;
}

#grab-btn {
  width: 100%;
  margin: 20px 0 40px 0;
  color: white;
}

.btn-orange:hover {
  color: white;
  opacity: .8;
}

.btn-orange:visited {
  color: white;
}

#save-btn {
  margin: 0 auto;
}