.raleway {
  font-family: 'Raleway', sans-serif;
  color: gray;
}

.recipe-title {
  color: gray;
  font-size: 22px;
  text-align: center;
}

.recipe-title:hover {
  color: #e16120;
}

a:hover {
  text-decoration: none;
}

.title {
  font-family: 'Satisfy', cursive;
  font-size: 46px;
  color: #e16120;
  text-align: center;
}

.caesar-text {
  color: white;
  font-size: 40px;
  text-align: center;
  padding-bottom: 20px;
}

#countdown {
  color: red;
  font-size: 40px;
  float: right;
}