/** {
  outline: 1px solid black;
}
*/
#hero {
  width: 100%;
}

.recipe-item {
/*  outline: 1px solid red;*/
  min-width: 300px;
  min-height: 425px;
}

.square-img {
  width: 250px;
  height: 250px;
}

img {
  width: 300px;
  height: 300px;
}

.img-container {
  height: 300px;
  width: 300px;
  overflow: hidden;
  margin: 0 auto;
}

.img-crop {

}