/** {
  outline: 1px solid black;
}
*/
#hero {
  width: 100%;
}

.img-container {
  height: 300px;
  width: 300px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 7px;
}

.img-crop {

}

.recipe-img {
  border-radius: 7px;
  margin-top: 20px;
  width: 100%;
  display: inline-block;
}
