.header {
  list-style-type: none;
  background-color: #eeede6;
  height: 66px;
}

.search-window {
  margin-top: 50px;
  display: block;
}

.recipe-container {
  width: 80%;
  margin-left: 10%;
}

.recipe-item {
  /*outline: 1px solid red;*/
  display: inline-block;
  height: 300px;
  min-width: 300px;
  min-height: 425px;
  overflow: hidden;
}

.recipe-info {
  text-align: center;
}

.speech-bar {
  min-height: 125px;
  background-color: #363636;
  border-radius: 7px;
  padding: 0;
  margin: 45px 5.5%;
  /*opacity: .8;*/
}