<p class="form-control" ng-bind='error' style='color: red'></p>

<div class="container-fluid">
  <div class="col-md-4 col-md-offset-4">
    <br><br><br>
    <h3 class="text-center">Welcome! In order to save recipes please...</h3>
    <button class="btn btn-primary btn-lg login-btn" ng-click='login()'>Login with Facebook</button>
    <br><br><br>
    <h3 class="text-center">Or, you can...<h3>
    <a href="#/search_results" class="btn btn-orange btn-lg login-btn">Get straight to cooking!</a>
  </div>
</div>