<p ng-bind='error' style='color: red'></p>

<div class="container-fluid">
  <div class="col-md-4 col-md-offset-4">
    <div class="form-group">
      <form>
        <input class="form-control" ng-model='signup_first_name' type='text' placeholder='Caesar'>
        <input class="form-control" ng-model='signup_email' type='email' placeholder='caesar@gmail.com'>
        <input class="form-control" ng-model='signup_password' type='password' placeholder='********'>
        <button class="btn btn-orange" ng-click='signUp()'>Sign Up</button>
      </form>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4 col-md-offset-4">
      <form>
        <input class="form-control" ng-model='login_email' type='email' placeholder='caesar@gmail.com'>
        <input class="form-control" ng-model='login_password' type='password' placeholder='********'>
        <button class="btn btn-orange"ng-click='login()'>Login</button>
      </form>
    </div>
    <button class="btn btn-orange" ng-click='logout()'>Logout</button>
  </div>
</div>